/* 전체 리스트 컨테이너 */
.list_container {
    display: flex; /* Flexbox 사용 */
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
    margin: 0 4% 4%;
}

/* 리스트 항목들을 감싸는 div */
.list_items {
    display: flex; /* Flexbox 사용 */
    flex-direction: row; /* 수평 방향으로 정렬 */
    gap: 20px; /* 항목 간의 간격 조정 */
    align-items: center;
    justify-content: center; /* 중앙 정렬 */
    font-family: 'Pretendard-Regular', sans-serif; /*기본 폰트 적용*/
    overflow: hidden;
}

/* 리스트 메인 제목 */
.list_main_name {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    font-size: 42px;
    text-align: left; /* 글씨를 왼쪽으로 정렬 */
    margin: 17px 0; /* 제목과 리스트 항목 간의 간격 */
    font-family: 'Pretendard-Regular', sans-serif; /*기본 폰트 적용*/
}

.list_btn {
	/*max-width: 60px;
	max-height: 277.5px;*/
	max-width: 80px;
	max-height: 370px;
	cursor: pointer;
}

.list_content {
    position: relative; /* 버튼 위치를 리스트 항목 기준으로 맞추기 위한 설정 */
    display: flex; /* Flexbox 사용 */
    flex-direction: row; /* 수평 방향으로 정렬 */
    justify-content: space-between; /* 양쪽 끝으로 정렬 */
    width: 100%; /* 전체 너비 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 300px; /* 적절한 높이 설정 */
    padding: 0 50px; /* 좌우 여백 추가 */
}


.list_items_container {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out; /* 부드러운 슬라이드 애니메이션 */
    width: 100%;
}

/* 리스트 아이템 */
.list_item {
    width: 33.33%; /* 3개가 한 화면에 보이도록 설정 */
    flex-shrink: 0;
}

/* 리스트 이미지 */
.list_img {
    height: 200px; /* 이미지의 높이를 설정 */
    width: auto; /* 이미지의 너비를 자동으로 설정 */
    margin-bottom: 10px; /* 이미지와 텍스트 사이의 간격 */
}

/* 리스트 이미지 제목 */
.list_subtitle {
    font-weight: bold; /* 제목 두께 설정 */
    text-align: left; /* 왼쪽 정렬 */
}

/* 리스트 이미지 내용 */
.list_detail {
    display: block; /* 기본 블록 요소 */
    text-align: left; /* 왼쪽 정렬 */
}

/* 리스트 하위 키워드 버튼 */
.list_button {
    border: none; /* 테두리 제거 */
    background-color: #ff440062; /* 반투명 배경 */
}

.list_carousel_button_container{
    position: absolute;
    top: 50%; /* 세로 중앙 정렬 */
    transform: translateY(-50%);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1; /* 버튼을 다른 요소 위로 올리기 */
}

.list_carousel-button {
    position: absolute;
    top: 50%; /* 세로 중앙 정렬 */
    transform: translateY(-50%);
    background-color: #ff440062; /* 반투명 배경 */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    
}