/* 헤더 전체 */
.header-all {
  display:flex; 
  margin: 0 20px;
  height: 70px;
  top: 0; /* 상단에 고정 */
  position: sticky; /* 스크롤 시에도 고정되도록 설정 */
  background-color: white;
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
  font-family: 'Freesentation-9Black'; /*기본 폰트 적용*/
  justify-content: space-between;
}

/* 로고 이미지 */
.logo-image {
    margin-top: 10px;
}

/* 메뉴 및 로그인 전체 */
.header-nav-menu {
    width:auto;
    display:flex; 
    align-items:center; /* 수직 중앙 정렬 */
}

/* 메뉴만 */
.nav-menu-container {
	display: flex;
    position: fixed; /* 부모플렉스박스 무시 */
    left: 50%; /*가운데 정렬하고 보정*/
    transform: translate(-50%);
    color: #1F2933;
}

/* 메뉴 각각 */
.nav-menu-content {
	margin: 0 100px;
    font-weight: 600;
}

    /* 메뉴 호버 */
    .nav-menu-content:hover {
        color: #006EB9; /* 마우스를 올렸을 때 글씨 색상 변경 */
        transition: color 0.3s; /* 전환 효과 */
    }

/* 검색 아이콘 */
.search-icon {
    padding: 3px;
    width: 17px; 
    height: 17px; 
    display: block; 
}

/* 유저 전체 */
.header-login {
    float: right;
    display: flex;
    margin: 0 10px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap; /* 줄 바꿈 방지 */
}

/* 로그인, 마이페이지, 로그아웃 각각 */
.login-content {
    margin: 0 10px;
    color: #1f2933a1;
}

/* 검색 입력 필드 */
    .search-input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px; 
    }


/* 검색 버튼 */
.search-button {
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
}

    .search-button:hover {
        background-color: #0056b3; /* hover 시 배경색 변경 */
    }


/* 모달 배경 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 위에서 내려오도록 설정 */
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out; /* 배경 페이드인 효과 */
  }
  
/* 모달 박스 */
.modal-box {
    background: white;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    border-radius: 8px;
    animation: slideDown 0.2s ease-in-out;  /* 내려오는 애니메이션 */
    text-align: center;
    position: relative;
  }

/* 모달 내려오는 애니메이션 효과 */
@keyframes slideDown {
    from {
        transform: translateY(-100%); /* 화면 위쪽에서 시작 */
    }
    to {
        transform: translateY(0); /* 원래 위치로 도착 */
    }
}

/* 닫기 버튼 */
.modal-box button {
    font-family: 'Freesentation-9Black';
    margin-top: 20px;
    padding: 10px 20px;
    background: #006EB9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
    .modal-box button:hover {
        background: #0056b3;
    }

/* 검색창 전체 */
.nav-menu-search-content {
    display: flex;
    justify-content: center;
}

/* 검색 */
.nav-menu-search-text {
    font-family: 'Freesentation-9Black';
    font-weight: 900;
    font-size: 20px;
    width: 70%;
    border: none; /* 기존 테두리 제거 */
    border-bottom: 2px solid #1F2933; /* 밑줄 스타일 추가 */
    outline: none; /* 포커스 시 외곽선 제거 */
}
