/*title-center {
  margin: 0 auto;
}

label {
  font-size: 19px;
  width: 500px;
  text-align: center;
  margin-top: 10px;
   
}

label-wide {
  width: 30%;
}

input-title {
  font-size: 16px;
  width: 50%;
  height: 28px;
  margin-top: 50px;
}

select-type {
  font-size: 20px;
  width: 60%;
  height: 28px;
  margin-top: 10px;
}

content-horizontal-end {
  justify-content: flex-end;
}

right-float-label {
  font-size: 19px;
  width: 40%;
  align-content: center;
}

button-reset, button-submit {
  background-color: lightpink;
  font-size: 17px;
  border-color: transparent;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}
*/