/* 전체 리스트 컨테이너 */
.list_container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 6.5%;
    overflow: hidden;
    font-family: 'Freesentation';
    justify-content: center;
}

/* 배경 텍스트 */
.rotated_background_text {
    position: absolute;
    left: 0; 
    font-size: 150px; 
    color: rgba(0, 0, 0, 0.1); 
    font-weight: 900;
    white-space: nowrap; 
    margin-right: 50px;
    z-index: -1;
    animation: slideInfinite 35s linear infinite;
  }
  
    @keyframes slideInfinite {
        0% {
        transform: translateX(0); 
        }
        100% {
        transform: translateX(-50%);
        }
    }

/* 리스트 메인 제목 */
.list_main_name {
    
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 900;
    font-size: 40px;
    justify-content: center;
    margin: 30px;
    color: #1F2933;
    background: #fff;
    z-index: 1 !important;
}

    /* 메인 제목 양 옆 선 */
    .list_main_name::before,
    .list_main_name::after {
    position: absolute;
    content: ""; 
    height: 1px;
    background: #006EB9;
    width: calc(45.5% - 80px);
    z-index: 0;
    }
    /* 왼쪽 선 */
    .list_main_name::before {
        left: 0;
        z-index: 0;
    }
    /* 오른쪽 선 */
    .list_main_name::after {
        right: 0;
        z-index: 0;
    }

/* 리스트 항목 전체 */
.list_items {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

/* 리스트 전체 */
.list_items_container {
    display: flex;
    overflow: hidden;
    width: 100%;
    align-items: center;
    padding-bottom: 50px;
}

/* 리스트 좌우 버튼 전체 */
.list_btn_container {
    position: absolute;
    display: flex; 
    transform: translateY(-50%);
    left: 0; 
    right: 0; 
    justify-content: space-between; 
}

    /* 리스트 좌우 버튼 */
    .list_btn {
        font-size: 50px;
        color:#1F2933;
        cursor: pointer;
        background-color: transparent;
        padding: 10px; 
        writing-mode: vertical-rl;
        text-orientation: upright;
        transform: scaleY(2);
        font-family: 'Malgun Gothic';
    }

/* 리스트 각각 */
.list_item {
    width: 33.33%;
}

/* 리스트 글 전체 */
.list_content {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 300px;

}

/* 이미지, 제목, 내용 */
.list_item {
    flex-shrink: 0;
}

    /* 리스트 이미지 */
    .list_img {
        height: 200px; 
        width: auto; 
        margin-bottom: 10px;
    }

    /* 리스트 이미지 제목 */
    .list_subtitle {
        font-weight: 700;
        font-size: 19px;
        text-align: center;
    }

    /* 리스트 이미지 내용 */
    .list_detail {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }

/* 리스트 하위 키워드 */
.list_button {
    font-weight: 900;
    font-size: 13px;
    background-color: #006EB9;
}